<link rel="stylesheet" href="../../assets/css/components/header.css">
<header class="start-header">
    <div class="container">

        <!-- Logo -->
        <div class="logo">
                <img src="https://pub-46c03e8d8c3448c68e945f4231eabfc1.r2.dev/LogoTratoo.png" alt="Tratoo">
        </div>

        <!-- Navegação -->
        <nav class="nav">
            <a href="/pages/auth/cadastro-cliente.html">Quero contratar serviços</a>
            <a href="/pages/auth/cadastro-prestador.html">Sou um prestador de serviços</a>
        </nav>

        <!-- Ações -->
        <div class="actions">
            <a href="/pages/auth/login.html" class="login">Entrar</a>
            <a href="/pages/auth/start.html" class="register">Cadastrar</a>
        </div>

    </div>
</header>

<header class="auth-header-prestador">
    <div class="container">

        <!-- Logo -->
        <div class="logo">
                <img src="https://pub-46c03e8d8c3448c68e945f4231eabfc1.r2.dev/LogoTratoo.png" alt="Tratoo">
        </div>

    </div>
</header>

<header class="auth-header-cliente">
    <div class="container">

        <!-- Logo -->
        <div class="logo">
                <img src="https://pub-46c03e8d8c3448c68e945f4231eabfc1.r2.dev/LogoTratoo.png" alt="Tratoo">
        </div>

    </div>
</header>
